<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <context:component-scan base-package="xin.futureme.letter.service"/>
    <context:component-scan base-package="xin.futureme.letter.dao"/>

    <import resource="classpath:spring-mybatis.xml"/>
    <import resource="classpath:email.xml"/>
    <import resource="classpath:spring-task.xml"/>
    <import resource="classpath:spring-redis.xml"/>

    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:/qiniu.properties</value>
                <value>classpath*:/jdbc.properties</value>
                <value>classpath*:/email.properties</value>
                <value>classpath*:/oss.properties</value>
                <value>classpath*:/redis.properties</value>
                <value>classpath*:/web.properties</value>
            </list>
        </property>
    </bean>
</beans>
